 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            width: 100%;
            display: flex;
            justify-content: center;
            font-family: sans-serif;
            margin-top: 200px;
        }

        .container {
            width: 100%;
        }

        #inputField {
            padding: 10px;
            border: 1px solid black;
            border-right: none;
            width: 440px;
            height: 30px;
            margin-top: 30px;
            outline: none;

        }

        .to-dos {
            margin-top: 25px;
            padding: 20px;
            border: 1px solid black;

        }

        .to-dos div {
            margin: 10px;
        }

        #addtodo {
            width: 100px;
            align-items: center;
            height: 30px;
            background-size: 600px;
            background-image: linear-gradient(30deg, rgb(99, 2, 2) 50%, transparent 50%);
            border: 1px solid black;
            border-left: none;
            color: white;
            font-size: 15px;
            cursor: pointer;
        }

        .logo {
            position: absolute;
            top: 0;
            left: 0;
            margin: 20px;
        }

        #myId {
            width: 100%;
            justify-content: center;
            text-align: center;
            align-items: center;
            background-color: #333;
        }